%h1 New Content Page

= error_messages_for :content_page

- form_for :content_page, :url => admin_content_pages_path do |f|
  %p
    %div  
      %label{:for => 'content_page_name'} Name
    = f.text_field(:name)

  %p
    %div
      %label{:for => 'content_page_text'}
        Content 
        = markdown_link       
    = f.text_area(:text)

  %p
    %label{:for => "display_in_footer"} Display in footer?
    = f.check_box(:display_in_footer)

  %p.field_edit_link
    %button{:name => 'content_page[draft]', :type => 'submit', :value => false} Publish
    %button{:name => 'content_page[draft]', :type => 'submit', :value => false} Save as Draft

= link_to 'Cancel', admin_content_pages_path, :class => 'delete'
