<h1>Editing Relationship Story</h1>

<%= error_messages_for :relationship_story %>

<% form_for(:relationship_story, :url => relationship_story_path(@relationship_story), :html => { :method => :put }) do |f| %>
  <%= f.hidden_field :relationship_id %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <b>Text</b><br />
    <%= f.text_area :text, :size => "90x10" %>
  </p>

  <p>
    <b>Verisimilitude</b><br />
    <%= f.select :verisimilitude, (1..10).collect {|rating| [rating, rating]} %>
  </p>

  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Back', edit_relationship_path(@relationship_story.relationship) %>