%h1 Edit User
- @user.errors.full_messages.each do |error|
  %div.error= error

- form_for :user, :url => admin_user_path(@user), :html => {:method => :put} do |f|
  %table
    %tr
      %th
        %label{:for => "user_unique_name"} User Name
      %th
        %label{:for => "user_email_address"} Email Address
      %th
        %label{:for => "user_super_admin"} Super Admin
      %th
        %label{:for => "user_disabled"} Disabled?
      %th
        %label{:for => "submit"} Actions
    %tr
      %td= f.text_field :unique_name, :tabindex => '10'
      %td= f.text_field :email_address, :tabindex => '11'
      %td= f.check_box :super_admin, :tabindex => '12'
      %td= f.check_box :disabled, :tabindex => '13'
      %td
        = link_to 'Cancel', admin_users_path, :class => 'view'
        = submit_tag "Save", :id=>"submit", :tabindex => '14'